<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{item.info.title}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <img item-left src={{item.info.images[0]}}>
        </ion-item>
        <ion-item>
            <ion-label>Ingredient ID</ion-label>
            <ion-badge item-right>{{item.info.id}}</ion-badge>
        </ion-item>
        <button ion-item (click)="toggleFavorite()">
            <ion-label>Favorite</ion-label>
            <ion-icon *ngIf="item.favorite" name="star" color="bright" item-right></ion-icon>
            <ion-icon *ngIf="!item.favorite" name="star-outline" color="bright" item-right></ion-icon>
        </button>
        <button ion-item (click)="changeAmount()">
            <ion-label>Amount</ion-label>
            <ion-badge item-right>{{item.amount}}</ion-badge>
        </button>
        <ion-item>
            <ion-label>Breadcrumbs</ion-label>
            <ion-badge item-right>{{item.info.breadcrumbs}}</ion-badge>
        </ion-item>
        <ion-item [hidden]="!item.info.price">
            <ion-label>Price</ion-label>
            <ion-badge item-right>{{item.info.price}}</ion-badge>
        </ion-item>
        <ion-item [hidden]="item.info.badges.length == 0">
            <ion-label>Badges</ion-label>
            <p item-right text-wrap>{{item.info.badges}}</p>
        </ion-item>
        <ion-item [hidden]="!item.info.serving_size">
            <ion-label>Serving Size</ion-label>
            <ion-badge item-right>{{item.info.serving_size}}</ion-badge>
        </ion-item>
        <ion-item [hidden]="!item.info.ingredientCount">
            <ion-label>Ingredient Count</ion-label>
            <ion-badge item-right>{{item.info.ingredientCount}}</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>
