<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{recipeData?.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <img src="{{recipeData?.image}}"/>
    </ion-item>

    <ion-item>
      <ion-label>Recipe ID</ion-label>
      <ion-badge item-right>{{recipeData?.id}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Ready in</ion-label>
      <ion-badge item-right>{{recipeData?.readyInMinutes}} Minutes</ion-badge>
    </ion-item>

    <ion-item *ngIf="recipeData?.instructions == NULL">
      <button ion-button block (click)="launchUrl(recipeData?.sourceUrl)">Open in browser</button>
    </ion-item>


    <ion-item>
      <p *ngFor="let ingrd of recipeData?.extendedIngredients">
        {{ingrd.originalString}}
      </p>
    </ion-item>

    <ion-item>
      <p item-right text-wrap>{{recipeData?.instructions}}</p>
    </ion-item>

  </ion-list>
</ion-content>