<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{recipeData?.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <img src="{{recipeData?.image}}"/>
    </ion-item>

    <ion-item>
      <ion-label>Prep Time</ion-label>
      <ion-badge item-right>{{recipeData?.preparationMinutes}} Minutes</ion-badge>
    </ion-item>
    
    <ion-item>
      <ion-label>Cook Time</ion-label>
      <ion-badge item-right>{{recipeData?.cookingMinutes}} Minutes</ion-badge>
    </ion-item>

    <ion-item text-wrap>
      <h1>Ingredients</h1>
      <p *ngFor="let ingrd of recipeData?.extendedIngredients">
        {{ingrd.originalString}}
      </p>
    </ion-item>

    <ion-item text-wrap *ngIf="recipeData?.instructions != NULL">
      <h1>Instructions</h1>
      <h2 text-wrap *ngFor="let step of steps">
          {{step.step}}
      </h2>
    </ion-item>

    <ion-item *ngIf="recipeData?.instructions == NULL">
      <button ion-button block large (click)="launchUrl(recipeData?.sourceUrl)">Open in browser</button>
    </ion-item>

  </ion-list>
</ion-content>
